<body style="background-color: #ececec;">
    <section style="display: flex; align-items: center; justify-content: center;height: 100%;">
        <img src="<%= newImage %>" style="border-radius: 4%;" />
    
    </section>
</body>
